@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

:root {
  --background-main: #ffe4e1;
  --background-form: #fff5f3;
  --border-color: #fff5f5;
  --border-color2: #ffc1c1;
  --highlight-font: "Noto Sans Mono", monospace;
  --page: "Roboto Flex", sans-serif;
  --placeholder-font: "Courier New", Courier, monospace;
  --placeholder-color: #ff9292;
  --header-font: "Prata", serif;
  --header-color: #fff5f5;
  --highlight-color: #d6456b;
  --text-color: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #ffe4e1, #ffdab9);
  font-family: var(--page);
  overflow: hidden;

  & input {
    transition: all 0.3sec ease-in-out;
  }

  & input:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }

  & .subButton {
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    color: #fff;
    background-color: #ffc1c1;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  & .dltItem {
    cursor: pointer;
    display: flex;
    justify-content: end;
    font-size: 0.2rem;
    transition: all 0.3s ease-in-out;
  }
  & .dltItem:hover {
    transform: scale(1.05);
  }

  & .navTo {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    background-color: #fff;
    color: var(--highlight-color);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  & .navTo:hover,
  & .subButton:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  }
  & .highlight {
    font-weight: bold;
    font-size: var(--size, 2rem);
    font-family: var(--highlight-font);
    text-align: center;
    color: var(--highlight-color);
  }
}

.auth-container {
  background-color: var(--background-form);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 5rem;
  gap: 1rem;
  border-radius: 2rem;
  width: 50vw;
  min-height: 50dvh;

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    gap: 1rem;
    width: 100%;
    & input {
      width: 100%;
      border-radius: 10px;
      border: 1px solid var(--border-color2);
      height: 40px;
      padding: 0.5rem;
    }
    & input::placeholder {
      font-family: var(--placeholder-font);
      font-family: 0.9rem;
      color: var(--placeholder-color);
    }

    & div {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      width: 100%;
      & input {
        width: 100%;
        border-radius: 10px;
        border: 1px solid var(--border-color2);
        height: 40px;
        padding: 0.5rem;
      }
    }
  }

  & .navL {
    text-decoration: none;
    color: #ff9292;
  }
  & .login-options {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.logistics {
  background-color: var(--background-form);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
  border-radius: 2rem;
  width: 50vw;
  min-height: 50vh;

  & .btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    gap: 2rem;
    width: 100%;
    min-height: 30vh;

    & div {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      & input {
        flex: 2;
        border-radius: 10px;
        border: 1px solid var(--border-color2);
        height: 40px;
        padding: 0.5rem;
      }
      & input::placeholder {
        font-family: var(--placeholder-font);
        font-family: 0.9rem;
        color: var(--placeholder-color);
      }

      & select {
        flex: 1;

        border-radius: 10px;
        border: 1px solid var(--border-color2);
        height: 40px;
        padding: 0.5rem;
        font-family: var(--placeholder-font);
        font-size: 0.9rem;
        color: var(--placeholder-color);
        background-color: var(--background-form);
        outline: none;
      }

      & select:focus {
        border-color: #ff9292;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15dvh;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;

  & h1 {
    color: var(--header-color);
    font-family: var(--header-font);
    word-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
  }
}
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 5rem;
  gap: 2rem;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem 0rem;

  & .copyright-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #888888;
    font-size: 20px;
  }
  & .social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}

.home,
.login,
.register,
.incomes,
.expenses,
.finance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 1rem;
  text-align: center;
  overflow-y: auto;
  height: 100dvh;
}

.register,
.login {
  background-image: linear-gradient(
      rgba(200, 200, 200, 0.2),
      rgba(200, 200, 200, 0.2)
    ),
    url("auth.jpg");
  background-size: cover;
  background-position: center;
}

.finance {
  background-image: linear-gradient(
      rgba(200, 200, 200, 0.2),
      rgba(200, 200, 200, 0.2)
    ),
    url("tracker.jpg");
  background-size: cover;
  background-position: center;
}

.incomes,
.expenses {
  background-image: linear-gradient(
      rgba(200, 200, 200, 0.2),
      rgba(200, 200, 200, 0.2)
    ),
    url("income-expense.jpg");
  background-size: cover;
  background-position: center;
}

.home {
  background-image: linear-gradient(
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.5)
    ),
    url("finance2.jpg");
  background-size: cover;
  background-position: center;

  & .homeH1 {
    font-size: 4.5rem;
    line-height: 1.3;
    color: var(--header-color);
    font-family: var(--header-font);
  }
  & .homeH2 {
    width: 90%;
    font-size: 1.9rem;
    color: var(--background-form);
    margin-bottom: 2.5rem;
  }

  & .auth-link-container {
    display: flex;
    gap: 3rem;
  }
}

.notFound {
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.tracker {
  min-height: auto;
  /* overflow-y: auto; */
  width: 80%;
  background-color: var(--background-form);
  border-radius: 2rem;
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.incomesItemCont {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
  justify-content: space-between;
  min-height: 40%;
  min-width: 30%;
  background: linear-gradient(135deg, #a3e635, #4ade80);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 20px;

  & p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: var(--text-color);
  }
  & span {
    font-size: 2rem;
  }
}
.incomesItemCont:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}
.expensesItemCont {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
  justify-content: space-between;
  min-height: 40%;
  min-width: 30%;
  background: linear-gradient(135deg, #f87171, #dc2626); /* Red gradient */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 20px;

  & p {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: var(--text-color);
  }
  & span {
    font-size: 2rem;
  }
}
.expensesItemCont:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.debtCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-column: span 2;
  min-height: 40%;
  min-width: 50%;
  border-radius: 20px;
  padding: 1rem 2rem;
  gap: 1rem;
  background: linear-gradient(135deg);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3sec ease-in-out;

  & p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--text-color);
  }
}

.debtCont:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.chartCont {
  grid-column: span 3;
  width: 100%;
  min-height: 40%;
  border-radius: 20px;
  padding: 1rem 2rem;
  background-color: white;
  border: 1px solid var(--border-color2);
}

.dataNot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 70vw;
  height: 50vh;

  & h1 {
    font-size: 2rem;
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 70vw;
  & p {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
}

.sureCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  gap: 2rem;
  & h1 {
    color: var(--text-color);
  }

  & .sureBtnCont {
    display: flex;
    gap: 2rem;
    & .sureBtn {
      cursor: pointer;
    }
  }
}
